<section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3 style="text-align: center; color: darkblue;">About Us</h3>
        <p style="text-align: center;">The Quran provides us with the syllabus of how to live life. It provides us detailed solutions to any of  life's problems and how to achieve peace & contentment.</p>
        <p style="text-align: center;">The gift institute will guarantee inshaAllah that your child will learn more than just recitation of the Quran but actually live their lives according to the the beautiful teachings of this miraculous book.</p>
      </header>

      <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="../../assets/Vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title"><a>Our Vision</a></h2>
            <p style="text-align: center;">
              Gifting Mankind the message of Mercy.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col">
            <div class="img">
              <img src="../../assets/plan.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-list-outline"></i></div>
            </div>
            <h2 class="title"><a>Our Plan</a></h2>
            <p style="text-align: center;">
             To provide quality knowledge through digital medium.
            </p>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="../../assets/mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title"><a>Our Mission</a></h2>
            <p style="text-align: center;">
              To make knowledge easy for everyone.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>