<!-- <app-services-type-list></app-services-type-list> -->
<br><br>
<h3 style="padding-top: 100px; text-align: center;">Free Resources</h3>
<div class="row" style="padding-top: 50px; padding-left: 30px;">
  
    <div class="col-sm-3" style="margin-left: 50px;"></div>
    <div class="col-sm-3">
     <a href="../../assets/resources/qaidah.pdf" Download>
      <div class="card" >
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/Qaida.png" alt="Card image cap" height="280px">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <button class="btn info"><h6>Download Noorani Qaida</h6></button>
     
      </div>
      </a>
    </div>
  
    <div class="col-sm-3">
      <a href="../../assets/resources/qurancolor.pdf" Download>
      <div class="card">
        <div class="view overlay">
            <img class="card-img-top" src="../../assets/Quran.jpg" alt="Card image cap" height="280px">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
       
        <button class="btn info"><h6>Download Quran</h6></button>
      </div>
      </a>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>