<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5" style="background-color:rgb(33,37,41)">

    <div style="background-color: black">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <!-- <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0" style="color: white">Get connected on social networks!</h6>
          </div> -->
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <!-- <a class="fb-ic" href="">
              <i class="fa fa-facebook-f white-text mr-4" style="color: white"> </i>
            </a> -->

            
            <!-- youtube +-->
            <!-- <a class="gplus-ic" href="">
                    <i class="fa fa-youtube-play white-text mr-4" style="color: white"> </i>
            </a> -->
            <!--Linkedin -->
            <!-- <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4" style="color: white"> </i>
            </a> -->
            <!--Instagram-->
            <!-- <a class="ins-ic" href="">
              <i class="fa fa-instagram white-text" style="color: white"> </i>
            </a> -->
            

          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
  
        <!-- Grid column -->
       <div class="col-md-1 col-lg-1">
        </div> 
        
        <div class="col-md-3 col-lg-3 col-xl-3 mb-3">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold" style="color: white">Disclaimer</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="font-size:13px ;color: white;text-align: left; margin-left:85px ;">This site is the property of The Gift Institution. The institution is only concerned with the educational activities and grooming of affiliated students.</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        
        <!-- Grid column -->
  
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4col-md-4 col-lg-3 col-xl-3 mx-auto mb-3" style="margin: 0 auto;">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: white">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" [routerLink]="['/free-resources']">Free Resource</a>
          </p>
          <p>
            <a class="dark-grey-text" [routerLink]="['/contact']">Contact</a>
          </p>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-3">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: white">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="color: white">
            <i class="fa fa-home mr-3"></i> London, United Kingdom</p>
          <p style="color: white">
            <i class="fa fa-envelope mr-3"></i>thegiftinstitution@gmail.com</p>
          <p style="color: white">
            <!--i class="fa fa-phone mr-3"></i> + 92 900 786 01</p>-->
          
  
        </div>
        <!-- Grid column -->
        <div class="col-md-1 col-lg-1">
        </div> 
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3" style="margin: 0 auto;">
            <a class="dark-grey-text" style="color: white">Developed by </a> <a class="dark-grey-text" href="https://innovativity-it.com" ><img src="../../assets/Innovativity.png" alt="" class="img-fluid" style="height: 40px; width: 180px;"></a>
       <br> <a style="color: white"> The Gift Institution © 2021 Copyright: All Rights Reserved</a>
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

