<section id="services">
    <div class="container" data-aos="fade-up">

      <header class="section-header wow fadeInUp">
        <h3 style="text-align: center;color: darkblue;">The Courses We Offer</h3>
        <p style="text-align: center;">We are offering following courses with quality education and extremely qualified teachers.</p>
      </header>

      <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Qaida.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Noorani Qaida</h4>
                  <span>Learn how to recognise letters and words, all Islamic courses need to begin with this.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Noorani Qaida</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Tajweed.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Tajweed Rules</h4>
                  <span>Learn how to read arabic and the Quran the correct way. children as well as adults will gain a strong foundation in recitation and when praying salaah.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Tajweed Rules</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Islamic studies.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Basic Knowledge of Islam</h4>
                  <span>In this course our teachers will cover core beliefs of a Muslim. Who is Allah, our prophet, the Quran, the angels and the unseen.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Basic Knowledge of Islam</h4>
            </div>
          </div>
       
          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/wudu.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Wudu/Purification</h4>
                  <span>Adults and children will learn about the most important rules when cleaning themselves. Ritual washing and Islamic hygiene.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Wudu/Purification</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Duas.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Duas</h4>
                  <span>There are many Duas in Islam, everyday Duas and other important Duas. Your child will get how to have a daily relationship with Allah. 
                  </span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Duas</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Kalimahs.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Emaan/Kalimahs</h4>
                  <span>All the important statements including emaan mufassil.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Emaan/Kalimahs</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/ColoredTajweed.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Coloured Tajweed Quran</h4>
                  <span>A detailed learning of the Quran for children and adults using a coloured scheme to make learning easy.</span>
                   <span>This where children as well as adults will learn how to apply the rules learnt previously.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Coloured Tajweed Quran</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Learnarabic.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Arabic Learning</h4>
                  <span>Adult students as well as  child students will get to learn the Arabic language to gain a basic understand Arabic speaking, reading and listening.
                  </span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Arabic Learning</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Tafseer.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Tafsir ul Quran</h4>
                  <span>Our teachers have learnt tafsir from top mufassirs of our time. Highly experienced. This is where your child will learn an explanation of the Quranic verses.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Tafsir ul Quran</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/40ahadith.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>40 Ahadith</h4>
                  <span>Selected key Ahadith to help towards building the emaan of our children. Adults can benefit from this too.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>40 Ahadith</h4>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Seerah.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Seerah</h4>
                  <span>Learn about the life of the greatest human being that ever lived. Through learning about his life, our adults as well as  kids will learn to love the Prophet and this will help in emulating his life and look upon him as a role model.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Seerah</h4>
            </div>
          </div>
       
          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="../../assets/Courses/Asma Ul Husna.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Al Asma ul Husna</h4>
                  <span>Learn about the life of the greatest human being that ever lived. Through learning about his life, our adults as well as  kids will learn to love the Prophet and this will help in emulating his life and look upon him as a role model.</span>
                  <!-- <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div> -->
                </div>
              </div>
              <h4>Al Asma ul Husna</h4>
            </div>
          </div>

      </div>

    </div>
  </section><!-- End Services Section -->