
		body {
            background: #eee;
            font-family: arial, helvetica, sans-serif;
            margin: 50px auto;
            padding: 0;
        }
        
        #wrapper {
            width: 960px;
            margin: 0 auto;
        }
        
        #wrapper {
          perspective: 2500;
            -webkit-perspective: 2500;
            width: 800px;
            margin: 200px auto 0 auto;
          perspective-origin: 50% 150px;
            -webkit-perspective-origin: 50% 150px;
          transition: perspective, 1s;
          -o-transition: -o-perspective, 1s;
          -moz-transition: -moz-perspective, 1s;
            -webkit-transition: -webkit-perspective, 1s;
        }
        
        #image:hover {
          animation-play-state:paused;
          -o-animation-play-state:paused;
          -moz-animation-play-state:paused;
            -webkit-animation-play-state:paused;
        }
        
        .container-fluid{
          width: 100%;
          margin: 0px;
          padding: 0px;
          overflow-x: hidden; 
        }


       